<!DOCTYPE html>
<html>
<head>
  <title>PostgreSQL CRUD</title>
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
  <h1>Welcome!</h1>
  <h2>This is a simple CRUD with Nodejs & PostgreSQL.</h2>
  <p>Test this endpoints with your RESTclient of preference.</p>
  <p>You can use ThunderClient in VScode or Postman.</p>
  <h5>TEST ROUTE:</h5>
  <p><b>/ping</b> you will get a pong response.</p>
  <!-- GET / -->
  <h5>GET METHODS:</h5>
  <p><b>/api/employees</b> will get a list of all employees.</p>
  <p><b>/api/employees/:id</b> will get you a specific employee.</p>
  <h5>POST METHOD:</h5>
  <p><b>/api/employees/:id</b> will create a new employee.</p>
  <h5>DELETE METHOD:</h5>
  <p><b>/api/employees/:id</b> will delete a employee.</p>
  <h5>PATCH METHOD:</h5>
  <p><b>/api/employees/:id</b> will update a employee.</p>
  
  
</body>
</html>